body {
  min-height:100%;
  /* min-width: 800px; */
  background: #333399;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #333399, #ae00ff) fixed no-repeat; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #333399, #ae00ff) fixed no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:0px;
}


.navbar {
  display:flex;
  overflow:hidden;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: #5933c0; /* rgba(61,116,226,0) ;*/ 
}

.navbar a {
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
  width: auto;
}

.navbar a:hover {
  background:#8CA6DB;
  color: black;
  border-radius:8px;
}


.h1, h2, h3, h4, h5, p {
  color: white;
}

#sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px
}

/* Section anchors used to offset the anchor from the fixed header */
a.section {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

#pdf {
  width: 100%;
}


/* Small screen adjustments */
@media screen and (max-width: 400px) {
  .navbar {
    display:flex;
    overflow:hidden;
    justify-content: left;
    height: auto;
    width: auto;
  }
  .navbar a {
    float: none;
    display: block;
    text-align: left;
    padding: 0px 25px;
  }
 
  a.section {
    top: -110px;
  }
}