body {
  min-height:100%;
 
  background: #6F6F8F;
  background: -webkit-linear-gradient(to top, #4F4F5F, #6F6F8F);
  background: linear-gradient(to top, #4F4F5F, #6F6F8F) fixed;
  margin:0px;
}

.navbar {
  display:flex;
  overflow:hidden;
  justify-content: center;
  height: auto;
  width: auto;
  background-color:#AFAFBF;
}

.navbar a {
  float: left;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease-in-out;
  width: auto;
}

.navbar a:hover {
  background:#BFBFCF;
  color: black;
  border-radius:8px;
}


.h1, h2, h3, h4, h5, p {
  color: white;
}

#nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

/* Section anchors used to offset the anchor from the fixed header */
a.section {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

#pdf {
  width: 100%;
}

.card  {
  border-radius: 4px !important;
  overflow: hidden !important;
}

/* Small screen adjustments */
@media screen and (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    text-align: left;
    width: auto;
    padding: 2px 25px;
  }
  a.section {
    top: 0px;
  }
}